<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.essensys.cashsaverz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:protectionLevel="signature"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:node="remove" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_cashsaverz_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cashsaverz_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:node="merge"
        tools:replace="android:usesCleartextTraffic"
        tools:targetApi="m">
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.OrderSummary"
            android:label="@string/title_activity_order_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActivityRecyclerspinner"
            android:label="@string/title_activity_recyclerspinner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:fitsSystemWindows="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.MyActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.BookListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BookDetailsActivity"
            android:label="@string/title_activity_book_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".paymentGateway.PaymentGatewayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CheckOutActivity"
            android:label="@string/title_activity_check_out"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" /> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="d657b2873b113721e7af9dd5dc4870c1cc8bc0d8" /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3c549ad35db3266c23530fbd8ca5b90d971a9824" />
    </application>

</manifest>